<h1>Tracks#new</h1>
<p>Find me in app/views/tracks/new.html.erb</p>
<%= render 'form' %>


<div id="uploader">
  <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
</div>














