#sidebar > div > div > ul > li > a > i {
  font-size: 2em;
}
.jp-gui.jp-interface {
  text-align: center;
}
.jp-progress {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #e2e7eb;
    border-radius: 5px;
}

.jp-seek-bar {
    width:0px;
    height:100%;
    cursor: pointer;
}

.jp-seeking-bg {
    background:#575555;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.jp-play-bar {
    width:0px;
    height:10px;
    position:relative;
    z-index: 9999;
    background-color: #ff5b57;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.jp-play-bar .handle {
  float: right;
  height: 30px;
  width: 30px;
}
.jp-play-bar span {
    position:absolute;
    top: -3px;
    right: -12px;

    width: 16px;
    height: 17px;
}
.jp-volume-bar {
    float:left;
    margin-top: 13px;
    margin-right: 10px;
    overflow:hidden;
    width:70px;
    height:10px;
    cursor: pointer;

    background: #e2e7eb;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
}

.jp-volume-bar-value {
    background-color: #706d6d;
    width:0px;
    height:10px;
    position: relative;
}

.jp-volume-bar-value span {
    position:absolute;
    top: 0px;
    right: 0px;

    background-color: black center;
    width: 11px;
    height: 10px;
}
