<div class="row">
  <div class="col-md-6">
    <div class="btn-group btn-group-justified">
      <!-- Use angular to put 'active' into the active button -->
      <a ng-class="{'btn btn-default': showing!='artists', 'active btn btn-default': showing==='artists'}" ng-click="changeView('artists')">Artists</a>
      <a ng-class="{'btn btn-default': showing!='albums', 'active btn btn-default': showing==='albums'}" ng-click="changeView('albums')">Albums</a>
      <a ng-class="{'btn btn-default': showing!='tracks', 'active btn btn-default': showing==='tracks'}" ng-click="changeView('tracks')">Tracks</a>
      <a ng-class="{'btn btn-default': showing!='playlists', 'active btn btn-default': showing==='playlists'}" ng-click="changeView('playlists')">Playlists</a>
    </div>
  </div>
  <div class="pull-right">
    <form class="navbar-form full-width">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter keyword" />
        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
      </div>
    </form>
  </div>
</div>
<div class="row">

  <!-- <div class="" ng-show="showing==='artists'">
    <ul ng-repeat="artist in artists">
      <li>
        {{artist.name}}
        <ul ng-repeat="album in artist.albums" ng-click="album.expanded = !album.expanded">
          <li>
            <i ng-class="{'fa fa-chevron-right': !album.expanded, 'fa fa-chevron-down': album.expanded}"></i>
            {{album.title}}
            <ul ng-show="album.expanded" ng-repeat="track in album.tracks">
              <li>
                <button class="btn btn-xs btn-icon btn-circle btn-success" ng-click="add(track)"><i class="fa fa-plus"></i></button>
                {{track.title}}
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div> -->
  <table class="table condensed" ng-show="showing==='artists'">
    <tbody ng-repeat="artist in artists">
      <tr>
        <th ng-click="artist.expanded = !artist.expanded">
          <i ng-class="{'fa fa-chevron-right': !artist.expanded, 'fa fa-chevron-down': artist.expanded}"></i>
        </th>
        <th>
          {{artist.name}}
        </th>
        <th>
        </th>
        <tr ng-show="artist.expanded" ng-repeat="album in artist.albums">
          <td></td>
          <td colspan="2">
            <table style="width:100%;">
              <tbody>
                <th>
                </th>
                <th ng-click="album.expanded = !album.expanded">
                  &nbsp;<i ng-class="{'fa fa-chevron-right': !album.expanded, 'fa fa-chevron-down': album.expanded}"></i>
                </th>
                <th>
                  {{album.title}}
                </th>
                <tr ng-show="album.expanded" ng-repeat="track in album.tracks">
                  <td>

                  </td>
                  <td>
                  </td>
                  <td>
                    <button class="btn btn-xs btn-icon btn-circle btn-success" ng-click="add(track)">
                    <i class="fa fa-plus"></i></button>
                    <span>{{track.title}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>

        </tr>
      </tr>
    </tbody>
  </table>

  <table class="table condensed" ng-show="showing==='albums'">
    <tbody ng-repeat="album in albums">
      <tr>
        <th ng-click="album.expanded = !album.expanded"><i ng-class="{'fa fa-chevron-right': !album.expanded, 'fa fa-chevron-down': album.expanded}"></i></th>
        <th>{{album.title}}</th>
        <th>{{album.artist.name}}</th>
        <th>Year</th>
        <tr ng-show="album.expanded" ng-repeat="track in album.tracks">
          <td><button class="btn btn-xs btn-icon btn-circle btn-success" ng-click="add(track)"><i class="fa fa-plus"></i></button></td>
          <td colspan="3">{{track.title}}</td>
        </tr>
      </tr>
    </tbody>
  </table>

  <table class="table condensed" ng-show="showing==='tracks'">
    <tbody>
      <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Artist</th>
        <th>Album</th>
      </tr>
      <tr ng-repeat="track in tracks">
          <td><button class="btn btn-xs btn-icon btn-circle btn-success" ng-click="add(track)"><i class="fa fa-plus"></i></button></td>
          <td>{{track.title}}</td>
          <td>{{track.artist}}</td>
          <td>{{track.album}}</td>
        </tr>
    </tbody>
  </table>

  <table class="table condensed" ng-show="showing==='playlists'">
    <tbody ng-repeat="playlist in playlists">
      <tr>
        <th ng-click="playlist.expanded = !playlist.expanded"><i ng-class="{'fa fa-chevron-right': !playlist.expanded, 'fa fa-chevron-down': playlist.expanded}"></i></th>
        <th>{{playlist.title}}</th>
        <th>{{playlist.artist.name}}</th>
        <th>Year</th>
        <tr ng-show="playlist.expanded" ng-repeat="track in playlist.tracks">
          <td><button class="btn btn-xs btn-icon btn-circle btn-success" ng-click="add(track)"><i class="fa fa-plus"></i></button></td>
          <td colspan="3">{{track.title}}</td>
        </tr>
      </tr>
    </tbody>
  </table>

</div>
<a href="javascript:;" id="add-without-image" class="btn btn-sm btn-info">Demo</a>
<script>
$('#add-without-image').click(function(){

  $.gritter.add({
    // (string | mandatory) the heading of the notification
    title: 'This is a notice without an image!',
    // (string | mandatory) the text inside the notification
    text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" style="color:#ccc">magnis dis parturient</a> montes, nascetur ridiculus mus.'
  });

  return false;
});
</script>
