<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
    </div>
    <h4 class="panel-title">Player</h4>
  </div>
  <div class="panel-body" ng-app='myStream'>
      <h1>{{1+1}}</h1>
      <div ng-controller='PlayCtrl' ng-init="setup()">
        <h3>playingList;)</h3>
        <ul ng-repeat="track in playingList track by $index">
          <li>{{track.title}}</li>
        </ul>
        <audio src="/uploads/track/path/14/01-alt-j-left_hand_free__lido_remix_.mp3" controls preload="auto"></audio>
        <button ng-click='audio.paused ? audio.play() : audio.pause()'>Pause</button>
        <button ng-click='start()'>Start</button>
        <button ng-click='audio.restart()'>Stop</button>
        <button ng-click='audio.muting = !audio.muting'>Mute</button></br>
        <p></p>
        <label>Current Time</label>
        <input class='form-control'  ng-model='audio.currentTime'>
        <label>Volume</label>
        <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
        <div ng-repeat="album in albums">
          <h3>{{album.title}}</h3>
          <div ng-repeat="track in album.tracks | orderBy:'trackNumber'">
            <p ng-click="add(track)">{{track.title}}</p>
          </div>
        </div>
      </div>
  </div>
</div>
