<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar user -->
    <!--ul class="nav">
      <li class="nav-profile">
        <div class="image">
          <a href="javascript:;"><img src="assets/img/user-13.jpg" alt="" /></a>
        </div>
        <div class="info">
          Sean Ngu
          <small>Front end developer</small>
        </div>
      </li>
    </ul-->
    <!-- end sidebar user -->
    <!-- begin sidebar nav -->
    <ul class="nav">
      <li class="nav-header">Navigation</li>
      <li><a href="/"><i class="fa fa-home"></i> <span>Home<span></a></li>
      <li><a href="pages/upload"><i class="fa fa-upload"></i> <span>Upload Music<span></a></li>
      <li><a href="/"><i class="fa fa-home"></i> <span>Home<span></a></li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret pull-right"></b>
          <i class="fa fa-map-marker"></i>
          <span>Map</span>
        </a>
        <ul class="sub-menu">
          <li><a href="map_vector.html">Vector Map</a></li>
          <li><a href="map_google.html">Google Map</a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret pull-right"></b>
          <i class="fa fa-camera"></i>
          <span>Gallery</span>
        </a>
        <ul class="sub-menu">
          <li><a href="gallery.html">Gallery v1</a></li>
          <li><a href="gallery_v2.html">Gallery v2</a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret pull-right"></b>
          <i class="fa fa-gift"></i>
          <span>Extra</span>
        </a>
        <ul class="sub-menu">
          <li><a href="extra_timeline.html">Timeline</a></li>
          <li><a href="extra_coming_soon.html">Coming Soon Page</a></li>
          <li><a href="extra_search_results.html">Search Results</a></li>
          <li><a href="extra_invoice.html">Invoice</a></li>
          <li><a href="extra_404_error.html">404 Error Page</a></li>
          <li><a href="extra_profile.html">Profile Page</a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret pull-right"></b>
          <i class="fa fa-key"></i>
          <span>Login & Register</span>
        </a>
        <ul class="sub-menu">
          <li><a href="login.html">Login</a></li>
          <li><a href="login_v2.html">Login v2</a></li>
          <li><a href="login_v3.html">Login v3</a></li>
          <li><a href="register_v3.html">Register v3</a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret pull-right"></b>
          <i class="fa fa-cubes"></i>
          <span>Version <span class="label label-theme m-l-5">NEW</span></span>
        </a>
        <ul class="sub-menu">
          <li><a href="javascript:;">HTML</a></li>
          <li><a href="../template_content_ajax/index.html">AJAX</a></li>
          <li><a href="../template_content_angularjs/index.html">ANGULAR JS<i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret pull-right"></b>
          <i class="fa fa-medkit"></i>
          <span>Helper</span>
        </a>
        <ul class="sub-menu">
          <li><a href="helper_css.html">Predefined CSS Classes</a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret pull-right"></b>
          <i class="fa fa-align-left"></i>
          <span>Menu Level</span>
        </a>
        <ul class="sub-menu">
          <li class="has-sub">
            <a href="javascript:;">
              <b class="caret pull-right"></b>
              Menu 1.1
            </a>
            <ul class="sub-menu">
              <li class="has-sub">
                <a href="javascript:;">
                  <b class="caret pull-right"></b>
                  Menu 2.1
                </a>
                <ul class="sub-menu">
                  <li><a href="javascript:;">Menu 3.1</a></li>
                  <li><a href="javascript:;">Menu 3.2</a></li>
                </ul>
              </li>
              <li><a href="javascript:;">Menu 2.2</a></li>
              <li><a href="javascript:;">Menu 2.3</a></li>
            </ul>
          </li>
          <li><a href="javascript:;">Menu 1.2</a></li>
          <li><a href="javascript:;">Menu 1.3</a></li>
        </ul>
      </li>
      <!-- begin sidebar minify button -->
      <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->
